*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 80%;
    margin: auto;
}

/* O nome das variáveis será corrigida */
:root {
    --texto: #C5D0D9;
    --texto1: #4F6273;
    --texto2: #3868A6;
    --texto3: #F28729;
    --texto4: #0D0D0D;
    --bg: #ffffff;
}

.tema-escuro {
    --texto: #1E1E1E;
    --texto1: #BBBBBB;
    --texto2: #5FA8D3;
    --texto3: #FFD166;
    --texto4: #ffffff;
    --bg: #585858;
    --input: #383737;
}

body {
    background-color: var(--bg);
    color: var(--texto4);
}
header, footer {
    text-align: center;
    font-size: 1.2em;
    padding: 15px;
    background-color: var(--texto);
    color: var(--texto4);
}

section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 5px;
}

h2 {
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
}

/* Formulário */


article{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.ocultar {
    display: none;
}

form {
    display: flex;
    width: 100%;
    min-height: 300px;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    font-size: 1.2em;
    border: 1px solid var(--texto4);
    border-radius: 2px;
}

label {
    flex: 1;
}
input{
    flex: 4;
    padding: 5px;
    /* margin-left: 5px; */
    font-size: 1em;
    background-color: var(--input);
    color: var(--texto4);
}

.campo {
    display: flex;
    width: 100%;
}

/* Estilo da tabela */

table {
    border: 1px solid #0D0D0D;
    border-collapse: collapse;
    text-align: center;
}

th {   
    background-color: #3868A6;
    border: 1px solid #0D0D0D;
    padding: 5px;
}

td {
    border: 1px solid #0D0D0D;
    padding: 5px;
}

tr {
    background-color: #C5D0D9;
}

tr:nth-child(even) {
    background-color: #c5d0d981;
}

button {
    margin: auto;
    height: 30px;
    width: min(450px, 100%);
}
#btnLimparTabela{
    width: 200px;
    margin: 0;
}
#mostrarCadastro{
    width: 150px;
    margin: 0;
}

footer{
    width: 100%;
    position: static;
}

span {
    text-align: center;
    color: #FF0000;
}

.botoes-topo {
    display: flex;
    gap: 10px;
}

.botoes-topo button {
    margin: 0;
    width: auto;
}