*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: large;
}

.container {
    max-width: 80%;
    margin: auto;
}

/* O nome das variáveis será corrigida */
:root {
    --background: #C5D0D9;
    --backgroundOdd: #4F6273;
    --cabecalho: #3868A6;
    --erro: #FF0000;
    --color: #0D0D0D;
   --bg: #ffffff;
}

.tema-escuro {
    --background: #3868A6;
    --texto: #ffffff;
    --input: #383737;
    --erro: #fdd700;
    --bg: #585858;
}

body {
    min-height: 100vh;
    background-color: var(--bg);
    color: var(--texto);
}

header, footer {
    text-align: center;
    font-size: 1.2em;
    padding: 15px;
    background-color: var(--background);
    color: var(--color);
}

section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 5px;
}

h2,h1 {
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
}

/* Formulário */


article{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.ocultar {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 300px;
    width: 100%;
    gap: 20px;
    padding: 10px;
    font-size: 1.2em;
    border: 1px solid var(--color);
    border-radius: 2px;
}

label {
    flex: 1;
}

input{
    flex: 4;
    padding: 5px;
    font-size: 1em;
    background-color: var(--input);
    color: var(--texto4);
}

.campo {
    display: flex;
    width: 100%;
}

/* Estilo da tabela */

table {
    border-collapse: collapse;
    text-align: center;
    border: 1px solid var(--color);
}

th {   
    background-color: var(--cabecalho);
    border: 1px solid var(--color);
    padding: 5px;
}

td {
    border: 1px solid var(--color);
    padding: 5px;
}

tr {
    background-color: var(--background);
}

tr:nth-child(even) {
    background-color: #c5d0d981;
}

button {
    height: 30px;
    width: min(450px, 100%);
    padding: 0 10px;
}


footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

span {
    align-content: center;
    text-align: center;
    font-size: 1em;
    margin-left: 2px;
    color: var(--erro);
}

.botoes-topo {
    display: flex;
    gap: 10px;
}